body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.p{
  text-shadow: 2px 2px 7px black;font-style: italic; font-size: 140px; text-align: left; position: absolute;left: 60px;top:10px;color: white;margin: 0px auto;
}
.p1{
  text-shadow: 2px 2px 7px black;font-size: 140px;font-style: italic; text-align: right; position: absolute;right: 30px;top: 20px;color: white;margin: 0px auto;
}
